bin/AndroidManifest.xml
bin/classes.dex
bin/res/crunch/drawable-hdpi/drawer_shadow.9.png
bin/res/crunch/drawable-hdpi/ic_drawer.png
bin/res/crunch/drawable-mdpi/drawer_shadow.9.png
bin/res/crunch/drawable-mdpi/ic_drawer.png
bin/res/crunch/drawable-xhdpi/drawer_shadow.9.png
bin/res/crunch/drawable-xhdpi/ic_drawer.png
bin/res/crunch/drawable-xxhdpi/drawer_shadow.9.png
bin/res/crunch/drawable-xxhdpi/ic_drawer.png
bin/res/crunch/mipmap-hdpi/ic_launcher.png
bin/res/crunch/mipmap-hdpi/repeat_bg.png
bin/res/crunch/mipmap-mdpi/ic_launcher.png
bin/res/crunch/mipmap-mdpi/repeat_bg.png
bin/res/crunch/mipmap-xhdpi/ic_launcher.png
bin/res/crunch/mipmap-xhdpi/repeat_bg.png
bin/res/crunch/mipmap-xxhdpi/ic_launcher.png
bin/res/crunch/mipmap-xxhdpi/repeat_bg.png
bin/res/crunch/mipmap-xxxhdpi/ic_launcher.png
bin/res/crunch/mipmap-xxxhdpi/repeat_bg.png
bin/resources.ap_
bin/SICOVIN.apk